{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static "css/home.css" %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<title> Cogzidel Tech</title>
  <style>
  body
  {
    background-color :linear-gradient(230deg,#a24bcf,#4b79cf,#4bc5cf);
  }
</style>
</head>


<body>
          <center>
          <div class="mdl-layout__container">
          <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col" style="margin-top:128px;">
            <form action="/dashboard/"></form>
                <div class="mdl-card__title">
                <h2 class="mdl-card__title-text"></h2>
                <h2 id="admin"> <center>Admin </center></h2>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label" for="sample5">Username</label>
                <input class="mdl-textfield__input" type="text" rows= "3" id="sample5">
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="password" rows= "3" id="sample5">
                <label class="mdl-textfield__label" for="sample5">Password</label>
                </div>
    <div>
        <a href="/dashboard/">
        <button id="button1" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="/dashboard/">
        Submit
        </button></a>
    </div>
    <div>
        <button id="button2" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
          Reset
        </button>
    </div>
  
</div>
</div>

  </center>
</body>
</html>
<style>
 


h2#admin {
    margin-left: 153px;
}
button#button1 {
    margin-bottom: 7px;
    border-radius: 10px !important;
    float: left;
    /* margin-right: 128px; */
    margin-left: 141px;
}


button#button2 {
    margin-bottom: 7px;
    border-radius: 10px !important;
    /* margin-left: 128px; */
    margin-left: 185px;
    /* float: right; */
    margin-top: -62px;
    margin-right: 67px;
}

</style>