<div class="demo-layout-transparent mdl-layout mdl-js-layout mdl-layout--fixed-header">
     <header class="mdl-layout__header ">
     <div class="mdl-layout__header-row">
      <div id="logo">
                  <h3>Arcane</h3>
              </div>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a class="mdl-navigation__link" href="/login/">Log Out</a>
      </nav>
      </div>
      </header>
</div><!-- 
<div class="mdl-grid add_btn">

        <div class="mdl-layout-spacer "></div>
           <div class="mdl-cell mdl-cell--9-col">
               <center><h6 id="dash"><strong>Dashboard</strong> Latest Activity </h6></center>
               
           </div>
        <div class="mdl-layout-spacer"></div>
      </div>
 -->


<!-- Overlay for fixed sidebar -->
<div class="sidebar-overlay"></div>

<!-- Material sidebar -->
<aside id="sidebar" class="sidebar sidebar-default open" role="navigation">
    <!-- Sidebar header -->
    <div class="sidebar-header header-cover";">
        <!-- Top bar -->
        <div class="top-bar"></div>
        <!-- Sidebar toggle button -->
        </div>

    <!-- Sidebar navigation -->
    <ul class="nav sidebar-nav">
        <li class="dropdown">
            <!-- <ul id="settings-dropdown" class="dropdown-menu"> -->
                <li>
                    <a href="#" tabindex="-1">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="#" tabindex="-1">
                        Site Management
                    </a>
                </li>
                <li>
                    <a href="#" tabindex="-1">
                        Member Management
                    </a>
                </li>
                <li>
                    <a href="#" tabindex="-1">
                        API Management
                    </a>
                </li>

<li>
                    <a href="#" tabindex="-1">
                    Trip History
                    </a>
                </li>
            </ul>
        </li>
<!-- </ul> -->
</aside>


