{% load staticfiles %}
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Material Design Lite</title>   

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
    <link rel="stylesheet" href="styles.css">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title" id="title"><strong>Dashboard</strong>Latest Activity</span>
          <div class="mdl-layout-spacer"></div>
         <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a class="mdl-navigation__link" href="/">Log Out</a>
      </nav>
        </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
      <div class="mdl-layout__header-row">
     <a href="/dashboard/" style="color:white;text-decoration:none!important; margin-left: -39px;"><h3>Arcane</h3></a>
    </div>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href="/dashboard/" style="color:white;text-decoration:none!important; ">Dashboard</a>
          <a class="mdl-navigation__link" id="drop-down" style="color:white;text-decoration:none!important;" href="#">Site Management</a>
          <a class="mdl-navigation__link"   id ="drop-down1"  style="color:white;text-decoration:none!important;" href="#">Member Managemnt</a>
          <a class="mdl-navigation__link" href="/apimanage/" style="color:white;text-decoration:none!important;">API Management</a>
          <a class="mdl-navigation__link"  id="drop-down2" href="#" style="color:white;text-decoration:none!important;">Trip History</a>
          
        </nav>
      </div>
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
          <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
            <svg fill="currentColor" color="#00BFFF" width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
              <use xlink:href="#piechart" mask="url(#piemask)" />
              <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">28<tspan font-size="0.2" dy="-0.07"></tspan></text>

            </svg>
            <svg fill="currentColor" color="#FFBBFF" width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
              <use xlink:href="#piechart" mask="url(#piemask)" />
              <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">28<tspan dy="-0.07" font-size="0.2"></tspan></text>
            </svg>
            <svg fill="currentColor" color="#FFA07A" width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
              <use xlink:href="#piechart" mask="url(#piemask)" />
              <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">0<tspan dy="-0.07" font-size="0.2"></tspan></text>
            </svg>
            <svg fill="currentColor" color="#90EE90" width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
              <use xlink:href="#piechart" mask="url(#piemask)" />
              <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">82<tspan dy="-0.07" font-size="0.2"></tspan></text>
            </svg>
          </div>
          
<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
            <svg fill="currentColor" color="#EE30A7" width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
              <use xlink:href="#piechart" mask="url(#piemask)" />
              <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">28<tspan font-size="0.2" dy="-0.07"></tspan></text>

            </svg>
            <svg fill="currentColor" color="#7B68EE" width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
              <use xlink:href="#piechart" mask="url(#piemask)" />
              <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">28<tspan dy="-0.07" font-size="0.2"></tspan></text>
            </svg>
            
          </div>
    </div>
 <div class="demo-charts  mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">

          <select class="mdl-cell--6-col mdl-grid mdl-selectfield__select" id="professsion1" name="professsion">
          <option value="option1">Day</option>
          <option value="option2">Month</option>
          <option value="option3">Year</option>
          </select>
 
      <div class=" mdl-layout-spacer "></div>
        <div class="mdl-cell mdl-cell--10-col"> 
           <label id="proof">Pie Chart</label>
          <div class="mdl-cell mdl-cell--8-col">         
          <img class="image"  src="{% static '/images/piechart.png' %}"/>
</div>
</div>  
</div>

  <footer class="mdl-mini-footer mdl-layout--fixed-mini-footer">
            <div class = "mdl-logo">
                    Powered By Cogzidel Technologies
                  </div>              
            </footer>
      </main>
      </div>
 
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" style="position: fixed; left: -1000px; height: -1000px;">
        <defs>
          <mask id="piemask" maskContentUnits="objectBoundingBox">
            <circle cx=0.5 cy=0.5 r=0.49 fill="white" />
            <circle cx=0.5 cy=0.5 r=0.40 fill="black" />
          </mask>
          <g id="piechart">
            <circle cx=0.5 cy=0.5 r=0.5 />
            <path d="M 0.5 0.5 0.5 0 A 0.5 0.5 0 0 1 0.95 0.28 z" stroke="none" fill="rgba(255, 255, 255, 0.75)" />
          </g>
        </defs>
      </svg>
  

  

     <div class="mdl-menu__outline mdl-menu--bottom-left" style="width: 239.406px; height: 113px; color:grey;"></div>

<ul class="mdl-menu mdl-menu--bottom mdl-js-menu mdl-js-ripple-effect" id="drop1"
    for="drop-down">
  <li class="mdl-menu__item"><a href="/site/" style="color:black; text-decoration: none;">Site Settings</li>
  <li class="mdl-menu__item mdl-menu__item--full-bleed-divider"><a href="/changepassword/" style="color:black;text-decoration: none;">Change Password</li>
</ul>

<ul class="mdl-menu mdl-menu--bottom mdl-js-menu mdl-js-ripple-effect" 
    for="drop-down1">
  <li class="mdl-menu__item"><a href="/rider/" style="color:black; text-decoration: none;">Rider Management</li>
  <li class="mdl-menu__item mdl-menu__item--full-bleed-divider"><a href="/driver/" style="color:black;text-decoration: none;">Driver Management</li>
</ul> 

<ul class="mdl-menu mdl-menu--bottom mdl-js-menu mdl-js-ripple-effect"     for="drop-down2">
  <li class="mdl-menu__item"><a href="/pending/" style="color:black; text-decoration: none;">Pending Payment History</li>
  <li class="mdl-menu__item mdl-menu__item--full-bleed-divider"><a href="/paid/" style="color:black;text-decoration: none;">Paid Payment History</li>
</ul>

  <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>

  </body>

</html>
<style>
select#professsion1 {
    margin-left: 17px !important;
    margin-top: 12px !important;
    width: 75px !important;
    height: max-content;
    padding-left: 0%;
}
div#tab {
    padding-left: 74%;
}
/*span#title {
    margin-left: 415px;
}*/
label#proof {
    margin-left: 72px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 33px;
}
.image {
    width: 219px !important;
    /* margin-left: -87% !important; */
    /* margin-top: -13px !important; */
}
.mdl-cell.mdl-cell--6-col{
      margin-left: -114px;
}
.mdl-mini-footer .mdl-logo {
    line-height: 36px;
    margin: 0;
    /* margin-left: 207%; */
    padding-left: 37%;
    width: 100%;
}

</style>